# Dependencies
node_modules
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
pnpm-lock.yaml

# Testing
coverage
.nyc_output
*.test.js
*.test.ts
*.spec.js
*.spec.ts

# Next.js
.next
out
build
dist

# Misc
.git
.gitignore
.env*.local
.vscode
.idea
*.md
!README.md

# OS
.DS_Store
Thumbs.db

# CI/CD
.github
.gitlab-ci.yml
.travis.yml
Jenkinsfile
